li.male
    .question-group-title Gender Based
    .question-illustrations
        img.stock-images(src="images/cigarettes.jpg", alt="cigarettes")
    .question
        .notice
            | Studies suggest that men who are current or former smokers
            |  of cigarettes may be at increased risk for polyps and
            |  colorectal cancer. At this time, studies show that smoking
            |  does not increase risk of colorectal cancer among women.
            |  As time goes on and other studies are completed, that may change.
        label.question-text(for="cigarettes") In your
            i  entire lifetime,
            | altogether, have you smoked 100 or more cigarettes?
            include ../../templates/notice-anchor
        .input
            select#cigarettes(name='cigarettes')
                option(value='') -select-
                option(value='0') Yes
                option(value='1') No
                option(value='2')
                  | Doesn't know
    ol
        li#subquestion-smoke-age.subquestion
            .question
                label.question-text(for="smoke_age")
                    | How old were you when you started smoking cigarettes
                    | &nbsp;
                    u on a regular basis
                    | , that is, at least
                    u  one cigarette a day for six months or longer?
                .input
                    select#smoke_age(name='smoke_age')
                        option(value='') -select-
                        option(value='0') I have never smoked cigarettes regularly
                        - var n = 6
                        while n <= 54
                            option(value=n)= n++
        li#subquestion-smoke-now.subquestion
            .question
                label.question-text(for="cigarettes-num")
                    | Thinking back over the years you have smoked regularly, about
                    | &nbsp;
                    u how many cigarettes have you usually smoked a day?
                .input
                    select#cigarettes_num(name='cigarettes_num')
                        option(value='') -select-
                        option(value='1') 1 to 10 cigarettes per day
                        option(value='2') 11 to 20 cigarettes per day
                        option(value='3') 21 or more cigarettes per day
            .question
                label.question-text(for="smoke_now")
                    | Do you currently smoke cigarettes?
                .input
                    label
                        input(type="radio", name="smoke_now", value='1')
                        | Yes
                    label
                        input(type="radio", name="smoke_now", value='0')
                        | No
        li#subquestion-smoke-quit.subquestion
            .question
                label.question-text(for="smoke_quit")
                    | How old were you when you quit smoking cigarettes completely?
                    em NOTE: If you quit smoking cigarettes completely more
                        |  than one time, please tell us how old you were
                        |  the last time you quit smoking completely.
                .input
                    select#smoke_quit(name='smoke_quit')
                        option(value='') -select-
                        - var n = 16
                        while n <= 54
                            option(value=n)= n++
